.contenedor {
  background-image: url("../img/circuito.jpg");
  position: relative;
  width: 1000px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
}

.coche {
  position: absolute;
  left: 220px;
  width: 30px;
}

.c1 {
  top: 60px;
  animation: coche 9s linear 2s 2;
}

.c2 {
  top: 75px;
  animation: coche 17s linear 2s 2;
}

.c3 {
  top: 90px;
  animation: coche 13s linear 2s 2;
}

.flag {
  opacity: 0;
  width: 300px;
  position: absolute;
  top: 0px;
  left: 200px;
  animation: bandera 16s linear 20s;
}

@keyframes bandera {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes coche {
  0% {
    top: 60px;
    left: 220px;
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  10% {
    transform: translateX(310px) translateY(15px) rotate(0deg);
  }

  15% {
    transform: translateX(355px) translateY(40px) rotate(80deg);
  }

  20% {
    transform: translateX(320px) translateY(85px) rotate(160deg);
  }

  30% {
    transform: translateX(70px) translateY(160px) rotate(160deg);
  }

  35% {
    transform: translateX(40px) translateY(200px) rotate(80deg);
  }

  40% {
    transform: translateX(70px) translateY(230px) rotate(0deg);
  }

  50% {
    transform: translateX(340px) translateY(230px) rotate(0deg);
  }

  52.5% {
    transform: translateX(380px) translateY(265px) rotate(60deg);
  }

  55% {
    transform: translateX(380px) translateY(290px) rotate(90deg);
  }

  57.5% {
    transform: translateX(380px) translateY(315px) rotate(120deg);
  }

  60% {
    transform: translateX(340px) translateY(350px) rotate(180deg);
  }

  70% {
    transform: translateX(0px) translateY(345px) rotate(180deg);
  }

  75% {
    transform: translateX(-90px) translateY(315px) rotate(225deg);
  }

  80% {
    transform: translateX(-105px) translateY(275px) rotate(270deg);
  }

  90% {
    transform: translateX(-125px) translateY(95px) rotate(270deg);
  }

  95% {
    transform: translateX(-95px) translateY(40px) rotate(315deg);
  }

  100% {
    transform: translateX(0px) translateY(0px) rotate(360deg);
  }
}

.semaforo {
  position: relative;
}

.rojo {
  position: absolute;
  width: 100px;
  top: 100px;
  left: 220px;
  animation: aparecer 1s linear;
}

.amarillo {
  position: absolute;
  width: 100px;
  top: 100px;
  left: 220px;
  animation: aparecer 1s linear 1s;
}

.verde {
  position: absolute;
  width: 100px;
  top: 100px;
  left: 220px;
  animation: aparecer 1s linear 2s;
}

@keyframes aparecer {
  0% {
    z-index: 1;
  }

  100% {
    z-index: 2;
  }
}
