table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #003366;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #2E8B57;
    color: white;
}

footer {
    text-align: center;
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #FFFF;
    color: #003366;
}