* {
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho */
}

.contenedor {
  display: flex;
}

.barraLateral {
  background-color: yellow;
  width: 30%; /* Ancho del sidebar */
}

.main {
  background-color: green;
  width: 70%; /* Ancho del contenido principal */
  display: flex;
  flex-direction: column; /* Permite apilar el contenido principal y trabajos */
}

.info-personal {
  flex: 1; /* Toma el espacio restante */
  padding: 20px; /* Añade espacio */
}

.trabajos {
  background-color: burlywood;
  padding: 20px; /* Añade espacio */
}

/* Estilos de botón */
.boton {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 0;
  background-color: #007bff; /* Color primario */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s; /* Transición suave */
}

.boton:hover {
  background-color: #0056b3; /* Sombra más oscura al pasar el cursor */
}

.fotoTrabajo {
  width: 200px;
  height: auto;
}
