* {
  font-size: 5vh;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reloj {
  width: 50vh;
  animation: relojRotar 10s 0s linear;
}
@keyframes relojRotar {
  100% {
    transform: rotate(-360deg);
    transition: transform 10s ease;
  }
}
.progreso {
  width: 80%;
  height: 10vh;
  background-color: brown;
  border-radius: 15rem;
  border: 1vh brown solid;
  overflow: hidden;
}

.relleno {
  width: 0%; /* esto varía */
  height: 10vh;
  background-color: red;
  border-top-left-radius: 15rem;
  border-bottom-left-radius: 15rem;
  animation: aumentarRelleno 10s 0s linear forwards;
}
/* 
Que vaya cambiando de color de manera progresiva y que al llegar al 75% de progreso baje al 50 
y luego siga subiendo (que no baje de golpe, que tenga un % de bajada).
0%: azul
25%: verde
50%: amarillo
75%: naranja
80%: rojo */

@keyframes aumentarRelleno {
  0% {
    width: 0%;
    background-color: blue;
  }
  25% {
    width: 25%;
    background-color: green;
  }
  50% {
    width: 50%;
    background-color: yellow;
  }
  75% {
    width: 70%;
    background-color: orange;
  }
  80% {
    width: 50%;
    background-color: yellow;
  }
  100% {
    width: 100%;
    background-color: red;
  }
}
