/*carga primero para movil mobile first, lo mas rapido*/
body {
  background-color: red;
}
p:after {
  color: white;
  content: "Movil";
}

@media (min-width: 600px) {
  body {
    background-color: green;
  }
  p:after {
    content: "Tablet";
  }
}

@media (min-width: 1024px) {
  body {
    background-color: blue;
  }
  p:after {
    content: "Escritorio";
  }
}
