.socios-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas de igual tamaño */
    grid-template-rows: repeat(3, auto);
    /* 3 filas automáticas */
    gap: 20px;
    /* Espacio entre los elementos */
}

.socios-container figure {
    margin: 0;
    text-align: left;
    padding: 10px;
    border: 2px solid #4caf50;
    border-radius: 5px;


}

.socios-container img {
    width: 100%;
    height: auto;
}