@font-face {
  font-family: "Electrica";
  src: url("fonts/electrical.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

section {
  width: 600px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-family: "Electrica", "Courier New", Courier, monospace;
  font-size: 1rem;
  margin-bottom: 2vh;
}

.cont_ser > div,
.cont_par > div {
  position: absolute;
}

.bombilla_ser1,
.bombilla_ser2,
.bombilla_par1,
.bombilla_par2,
.corriente_ser,
.corriente_par1,
.corriente_par2 {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: yellow;
  opacity: 0.75;
}

/* subdividir para que funcione*/

.corriente_par1 {
  position: absolute;
  top: 137px;
  left: 756px;
  animation: movimiento2 10s 0s linear infinite,
    parpadear 0.5s 0s linear infinite alternate;
}

.corriente_par2 {
  position: absolute;
  top: 137px;
  left: 756px;
  animation: movimiento3 10s 0s linear infinite,
    parpadear 0.5s 0s linear infinite alternate;
}

@keyframes movimiento2 {
  20% {
    top: 85px;
    left: 756px;
  }

  40% {
    top: 85px;
    left: 1020px;
  }

  60% {
    top: 187px;
    left: 1020px;
  }

  80% {
    top: 187px;
    left: 756px;
  }
}

@keyframes movimiento3 {
  20% {
    top: 85px;
    left: 756px;
  }

  40% {
    top: 85px;
    left: 923px;
  }

  60% {
    top: 187px;
    left: 923px;
  }

  80% {
    top: 187px;
    left: 756px;
  }
}

.bombilla_par1 {
  position: absolute;
  top: 137px;
  left: 925px;
  animation: iluminar 1s 5.1s linear backwards;
}

.bombilla_par2 {
  position: absolute;
  top: 137px;
  left: 1018px;
  animation: iluminar 1s 5.1s linear backwards;
}

.bombilla_ser1 {
  position: absolute;
  top: 124px;
  left: 414px;
  animation: iluminar 1s 4.5s linear backwards;
}

@keyframes iluminar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.bombilla_ser2 {
  position: absolute;
  top: 211px;
  left: 414px;
  animation: iluminar 1s 5.2s linear backwards;
}

.corriente_ser {
  position: absolute;
  top: 160px;
  left: 185px;
  animation: movimiento 10s 0s linear infinite,
    parpadear 0.5s 0s linear infinite alternate;
}

@keyframes movimiento {
  20% {
    top: 80px;
    left: 185px;
  }

  40% {
    top: 80px;
    left: 413px;
  }

  60% {
    top: 255px;
    left: 413px;
  }

  80% {
    top: 255px;
    left: 185px;
  }
}

@keyframes parpadear {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}
