.d {
  width: 100px;
  height: 100px;
  background-color: rebeccapurple;
  transition: all 3s ease;
}

.abrir {
  transform: rotate(90deg);
  transition: transform 3s ease;
  transform-origin: right bottom;
}

.d ~ h2 {
  color: blue;
}

.d + h2 {
  color: red;
}
