* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu {
  background-color: rgb(187, 5, 5);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: fit-content;
  height: fit-content;
  margin-left: 25%;
}

.logo img {
  width: 170px;
  vertical-align: middle;
}

.top_nav {
  display: flex;
  align-items: center;
  margin-right: 25%;
}

.top_nav div {
  margin-left: 30px;
}

.idioma li {
  margin-left: 10px;
}

.top_nav ul {
  display: flex;
}

.top_nav li a {
  color: white;
}

.top_nav img {
  margin-right: 10px;
  margin-left: 40px;
}

.cesta {
  background-color: white;
  border-radius: 20px;
  width: 250px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

.cesta li a {
  color: rgb(187, 5, 5);

  display: flex;
  align-items: center;
}

.unete li a:hover {
  text-decoration: underline 2px white;
}

.cesta li a::before {
  content: "";
  background-image: url("cesta.png");
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

.seleccionado {
  text-decoration: underline 2px white;
}

.menu2 {
  height: 90px;
  align-content: center;
}

.desplegable {
  justify-content: center;
  display: flex;
}

.desplegable ul {
  display: flex;
  background-color: rgb(209, 202, 202);
  border-radius: 20px;
  height: 60px;
  align-items: center;
  padding: 5px;
}

.desplegable ul li {
  width: 130px;
  height: 50px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  align-content: center;
}

.desplegable ul li:hover {
  background-color: rgb(187, 5, 5);
}

.desplegable ul li:hover a {
  color: white;
}

.desplegable ul li a {
  color: black;
  font-weight: bold;
}
