header {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 150px;
}

.banner {
  width: 100%;
}

h1 {
  text-align: center;
  flex-grow: 1; /* Se reparte el hueco dentro del header (contenedor flex) */
  font-size: 72px;
  font-weight: bold;
  margin-right: 150px; /* Mismo margen que ancho del logo para así centrar el título */
  color: #003366;
}

.titulo {
  text-align: center;
  flex-grow: 1; /* Se reparte el hueco dentro del header (contenedor flex) */
  font-size: 72px;
  font-weight: bold;
  margin-right: 150px; /* Mismo margen que ancho del logo para así centrar el título */
  color: black;
}

h2 {
  font-size: 32px;
  color: #8b4513;
  font-weight: bold;
}

h3 {
  font-size: 24px;
  color: #003366;
  font-weight: bold;
}

body {
  background-color: #d3d3d3;
  font-family: sans-serif;
  font-size: 16px;
}

main {
  max-width: 1200px; /* Estrechar el contenido*/
  margin: auto; /* Mismos margenes a ambos, así evito calcular px*/
  padding: 20px;
  background-color: #ffff;
}

/* INICIO Css de Barra de navegación: */

nav {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
}

.navigation {
  background-color: #2e8b57;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigation li {
  position: relative;
}

.navigation a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 24px;
  background-color: #2e8b57;
}

.navigation a:hover {
  background-color: #6c6e6b;
}

.navigation ul ul {
  display: none;
  position: absolute;
  width: 100%;
}

.navigation li:hover > ul {
  display: block;
}

.navigation ul ul a {
  padding: 10px 20px;
  color: white;
  padding: 10px;
}

.navigation ul ul a:hover {
  background-color: #d48d5b;
}

/* FIN Css de Barra de navegación: */

footer {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #6c6e6b;
  color: white;
  font-size: 16px;
}
