* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 15vh;
  width: 70rem;
  height: 40rem;
}

#slider1,
#slider2,
#slider3 {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#slider1 {
  background-color: brown;
}

#slider1 .jordan1 {
  width: 60%;
  position: relative;
  left: 45%;
  top: 25%;
  filter: drop-shadow(2px 4px 6px black);
  animation: apareceJordan1 1s linear;
}

@keyframes apareceJordan1 {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#slider1 .jordan2 {
  width: 20%;
  position: relative;
  top: -30%;
  left: -45%;
  rotate: 15deg;
  filter: drop-shadow(2px 2px 4px rgb(224, 222, 222));
  animation: apareceJordan2 1s linear;
}

@keyframes apareceJordan2 {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) rotate(360deg);
  }
}

#slider1 .jordan3 {
  width: 60%;
  position: relative;
  top: -20%;
  left: 0%;
  filter: drop-shadow(2px 2px 4px rgb(224, 222, 222));
  animation: apareceJordan3 1s linear;
}

@keyframes apareceJordan3 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateX(0);
  }
}

/* https://codepen.io/_xXGalaxy-Gamer321Xx_/pen/XWJONJb */

#slider2 {
  background-color: rgb(224, 189, 34);
}

#slider2 .lebron1 {
  width: 70%;
  position: relative;
  left: 45%;
  top: 20%;
  filter: drop-shadow(2px 4px 10px black);
  animation: apareceLebron1 1s linear;
}

@keyframes apareceLebron1 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateX(0);
  }
}

#slider2 .lebron2 {
  width: 20%;
  position: relative;
  top: -45%;
  left: -50%;
  filter: drop-shadow(2px 2px 4px rgb(224, 222, 222));
  animation: apareceLebron2 1s linear;
}

@keyframes apareceLebron2 {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#slider2 .lebron3 {
  width: 50%;
  position: relative;
  top: -30%;
  left: 5%;
  filter: drop-shadow(2px 2px 4px rgb(224, 222, 222));
  animation: apareceLebron3 1s linear;
}

@keyframes apareceLebron3 {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* ******************************** */

#slider3 {
  background-color: rgb(97, 8, 119);
}

#slider3 .kobe1 {
  width: 70%;
  position: relative;
  left: 45%;
  top: 20%;
  filter: drop-shadow(2px 4px 10px black);
  animation: apareceKobe1 1s linear;
}

@keyframes apareceKobe1 {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

#slider3 .kobe2 {
  width: 20%;
  position: relative;
  top: -120%;
  left: -50%;
  filter: drop-shadow(2px 2px 4px rgb(224, 222, 222));
  animation: apareceKobe2 1s linear;
}

@keyframes apareceKobe2 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#slider3 .kobe3 {
  width: 50%;
  position: relative;
  top: -160%;
  left: 5%;
  filter: drop-shadow(2px 2px 4px rgb(224, 222, 222));
  animation: apareceKobe3 1s linear;
}

@keyframes apareceKobe3 {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateX(0);
  }
}

/* ******************************** */

.slider-menu {
  width: 50px;
  height: 60px;
  position: relative;
  top: 55%;
  left: 1%;
  z-index: 10;
}

.slider-menu-buttom {
  background-color: rgb(231, 229, 229);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 50px;
  height: 13px;
  position: relative;
  cursor: pointer;
}

.slider-menu-buttom:nth-child(1) {
  margin-bottom: 10px;
}

.slider-menu-buttom:nth-child(2) {
  margin-bottom: 10px;
}

.slider-menu-buttom.selected {
  background-color: #8a8d8c; 
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 200ms linear;
}

