/* Con esto utilizas las fuente */
.eater-regular {
  font-family: "Eater", serif;
  font-weight: 400;
  font-style: normal;
}
.jolly-lodger-regular {
  font-family: "Jolly Lodger", serif;
  font-weight: 400;
  font-style: normal;
}
.agdasima-regular {
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Con esto utilizas las fuente */

* {
  margin: 0;
}

header {
  font-family: "Agdasima", sans-serif;
}

main {
  max-width: 1200px;
  margin: auto;
  background-color: #00080b;
  height: auto;
  width: 1200px;
}

body {
  background-color: #00080b;
}

/* barra superior */
nav {
  background-color: #00080b;
  height: 100px;
  border-bottom: 1px solid grey;
  width: 100%;
}

.nav {
  max-width: 1200px;
  margin: auto;
  background-color: #00080b;
  height: 100px;
  width: 1200px;
  display: flex;
}

.fotoLogo {
  align-content: center;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.letrasLogo {
  align-content: center;
  color: rgb(228, 227, 227);
  -webkit-text-stroke: 0.5px #c0090d;
}

.letrasLogo h1 + h1 {
  margin-top: -20px;
}

.cabecera {
  display: flex;
  align-content: center;
  margin-left: 20px;
}

.menu {
  list-style-type: none;
  display: flex;
  margin-left: 460px;
}
.menu a {
  text-decoration: none;
  margin-right: 100px;
}

.menu a:hover {
  color: white;
  transition: 0.5s;
}

.menu li {
  align-content: center;
  font-size: 24px;
}

.menu li a {
  color: rgb(170, 169, 169);
  font-weight: bold;
}

.mas {
  width: 30px;
  height: auto;
}

.mas:hover {
  transform: scale(1.25);
  transition: 0.5s;
}

/* barra superior */

/* banner */
.banner {
  position: relative;
  text-align: center;
}

.banner img {
  width: 100%;
  height: auto;
}

.letrasBanner {
  position: absolute;
  top: 40%; /* Ubica el texto a la mitad del contenedor */
  left: 50%; /* Ubica el texto a la mitad del contenedor */
  transform: translate(
    -50%,
    -50%
  ); /* Centra el texto horizontal y verticalmente */
  color: white;
  -webkit-text-stroke: 0.5px #c0090d;
  font-size: 32px;
}

.subTitulo {
  color: #c0090d;
}

.reservar {
  position: absolute;
  top: 230px; /* Ubica el texto a la mitad del contenedor */
  left: 50%; /* Ubica el texto a la mitad del contenedor */
  transform: translate(
    -50%,
    -50%
  ); /* Centra el texto horizontal y verticalmente */
  background-color: #c0090d;
  width: 200px;
  height: 80px;
  align-content: center;
  text-decoration: none;
  color: white;
  border: 1px solid black;
}

.reservar:hover {
  color: #c0090d;
  background-color: white;
  transition: 0.5s;
}

/* banner */

/* Presentacion*/
.Presentacion {
  background-color: #00080b;
  height: 85 0px;
  color: white;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px;
}

.Presentacion img {
  margin-left: 10px;
  margin-right: 10px;
}

.descripcion img,
.niveles img,
.servicios img,
.precios img {
  width: 300px;
  height: auto;
  border: 1px solid #c0090d;
}

.descripcion,
.niveles,
.servicios,
.precios {
  display: flex;
  padding: 10px;
}

.precioEspecial {
  text-align: center;
  border: 2px solid #c0090d;
  width: 700px;
  height: 90px;
  align-content: center;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  margin-top: 20px;
  border-style: dashed;
}

.rojo {
  color: #c0090d;
}

.centro {
  align-content: center;
}

.suave {
  color: orange;
}

.extremo {
  color: #c0090d;
  font-family: "Eater", serif;
}

/* Presentacion*/

/* Galeria*/
#Galería {
  height: auto;
  background-color: #00080b;
  margin-top: 20px;
}

.galeria-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.galeria-grid figure {
  margin: 0;
  border-radius: 5px;
  padding: 20px;
}

.galeria-grid img {
  width: 100%;
  height: auto;
}

.galeria-grid figure:hover {
  background-color: #010a0e;
  transition: 0.3s;
}

/* Galeria*/

/* Reserva */
#Reserva {
  height: 1300px;
  margin-top: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#Reserva h2 {
  text-align: center;
  font-family: "Jolly Lodger", serif;
  color: black;
  -webkit-text-stroke: 0.001em white;
  font-size: 60px;
}

.reservaForm {
  max-width: 900px;
  margin: auto;
  padding: 10px;
  border: 1px solid #b71c1c;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.951);
}

fieldset {
  border: none;
  margin-bottom: 20px;
}

legend {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #b71c1c;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
select,
textarea {
  width: 98%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.botones {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #b71c1c;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #00080b;
  color: white;
}

input[type="checkbox"] {
  margin-right: 5px;
}

textarea {
  resize: none;
}
/* Form*/

footer {
  border-top: 1px grey solid;
  border-bottom: 1px solid grey;
  background-color: #00080b;
  color: grey;
  padding: 40px;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #c0090d;
}

footer a:hover {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

footer p {
  margin-bottom: 10px;
}
